---
import MarginContainer from "../components/atoms/MarginContainer.astro";
import { Image } from "astro:assets";
import image from "../../content/media/image.jpg";

/*import img1 from "../../content/media/img1.jpg";
import img2 from "../../content/media/img2.jpg";
import img3 from "../../content/media/img3.jpg";
import img4 from "../../content/media/img4.jpg";
import img5 from "../../content/media/img5.jpg";
import img6 from "../../content/media/img6.jpg";
import img7 from "../../content/media/img7.jpg";
import img8 from "../../content/media/img8.jpg";
import img9 from "../../content/media/img9.jpg";
import img10 from "../../content/media/img10.jpg";*/
---

<section id="veranstaltungen">
  <MarginContainer>
    <h1 class="mt-10 font-serif text-3xl md:text-5xl">Veranstaltungen</h1>
    <span class="mt-4 block h-[2px] w-full bg-black"></span>
    <div class="mt-10">
      <div class="flex flex-col lg:flex-row">
        <div class="mr-10 flex flex-col">
          <p class="text-xl">28.03.2024 - 12.05.2024</p>
          <h2 class="mt-2 font-serif text-4xl font-bold md:text-5xl">
            Frühlingsspaziergang im Henningshof
          </h2>
          <p class="mt-1 text-lg">Florale Frühlingsausstellung</p>
          <p class="mt-5 text-lg font-bold">
            Ausstellung floraler Kreationen | Café | Inspiration für Haus &
            Garten
          </p>
          <div class="mt-5">
            <h3 class="text-xl font-bold">Öffnungszeiten</h3>
            <p>Do-So: 13:00 - 18:00 Uhr</p>
          </div>
          <div class="mt-5">
            <h3 class="text-xl font-bold">Eintritt</h3>
            <ul>
              <li>Tageskarte: 3 €</li>
            </ul>
          </div>
        </div>
        <div>
          <Image
            src={image}
            alt="Frühling"
            class="mt-10 w-full max-w-lg lg:w-[40rem]"
          />
        </div>
      </div>
    </div>
    <!--<div class="mt-14 columns-2 gap-3 space-y-3 sm:columns-3 lg:columns-4">
      <div>
        <Image src={img1} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img2} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img3} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img4} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img5} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img6} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img7} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img8} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img9} alt="Weihnachten" class="w-full" />
      </div>
      <div>
        <Image src={img10} alt="Weihnachten" class="w-full" />
      </div>
    </div>-->
  </MarginContainer>
</section>
